/* Container principal */
.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Menu lateral */
.sidebar {
    width: 240px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ocupa toda a altura da página */
    transition: transform 0.3s ease, width 0.3s ease; /* Suaviza a transição do colapso do menu */
    z-index: 100; /* Garante que o menu fique acima do conteúdo */
    border-right: 1px solid #ddd; /* Borda sutil à direita */

}

/* Colapso do menu */
.sidebar.collapsed {
    width: 80px; /* Largura do menu quando colapsado */
    transition: width 0.3s ease; /* Suaviza a animação de colapso */
}

/* Logo do menu */
.menu-logo {
    width: 100%; /* Ajustar a largura da logo para 100% do menu */
    max-width: 200px; /* Limitar a largura máxima da logo */
    height: auto; /* Manter a proporção da logo */
    display: block;
    margin: 20px auto; /* Centralizar a logo no menu */
}

/* Ajuste dos itens do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; /* Espaço abaixo da logo */
}

.sidebar ul li {
    margin-bottom: 20px;
}

/* Links do menu */
.menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #333; /* Cor do texto */
    padding: 12px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ícone dentro do item de menu */
.menu-item a i {
    font-size: 20px;
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #6c63ff; /* Cor do ícone */
}
.menu-item a:hover {
    background-color: #e5e5f7;
    color: #4c2889;
}

/* Botão de colapso do menu */
.toggle-btn {
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: #4c2889;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #6e47c6;
}

/* Conteúdo principal */
.content {
    flex-grow: 1;
    margin-left: 240px; /* Espaço para o menu lateral */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Transição suave ao mover o conteúdo */
}

.content.collapsed {
    margin-left: 80px; /* Quando o menu está colapsado */
}

.sidebar ul li:not(:last-child) {
    border-bottom: 3px solid #ececec; /* Linha separadora sutil */
    padding-bottom: 10px;
}
