<div class="app-container">
    <div class="sidebar" [class.collapsed]="isCollapsed">
        <img src="https://rihappyio.vtexassets.com/assets/vtex/assets-builder/rihappyio.rihappy-theme/4.3.15/images/logo-rihappy___ece5d020bb4124ae8973da593f9be42f.svg" alt="RiHappy Logo" class="menu-logo">
        <ul>
            <i class="fas fa-cogs"></i>
            <li class="menu-item"><a href="#">Vtex</a></li>
            <li class="menu-item"><a href="#">GCP</a></li>
        </ul>
        <button class="toggle-btn" (click)="toggleMenu()">
            <span *ngIf="!isCollapsed">&#10094;</span>
            <span *ngIf="isCollapsed">&#10095;</span>
        </button>
    </div>

    <div class="content" [class.collapsed]="isCollapsed">
        <app-status></app-status>
    </div>
</div>
