<div class="logo">
  <img src="healthcheck.svg" alt="RiHappy Logo" class="menu-logo">
  <nav class="menu">
    <a href="#google-cloud"
       class="menu-item"
       [ngClass]="{'active': selectedPlatform === 'google-cloud', 'fade': transitioning}"
       (click)="setActivePlatform('google-cloud')">
      <img src="path/to/google-cloud-logo.png" alt="Google Cloud">
    </a>
    <a href="#vtex"
       class="menu-item"
       [ngClass]="{'active': selectedPlatform === 'vtex', 'fade': transitioning}"
       (click)="setActivePlatform('vtex')">
      <img src="path/to/vtex-logo.png" alt="VTEX">
    </a>
  </nav>
</div>
