
.status-container {
    width: 100%;
    max-width: none; 
    padding: 0; 
    margin-top: 0; 
  }us-logo {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.status-logo .vtex-logo {
    width: 250px;
    margin-right: 20px;
}

.status-logo p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}



.status-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(135deg, #67DA69, #2AA846);
    padding: 50px;
    border-radius: 15px;
    color: white;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 56px;
    font-weight: bold;
    box-sizing: border-box;
}

.status-message {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    text-align: center; /* Alinha o texto no centro */
    font-size: 56px;
    font-weight: bold;
    margin-right: 20px;
}

/* Lista de componentes */
.components-list {
    display: flex;
    justify-content: flex-end; /* Alinha os cartões à direita */
    gap: 20px; /* Espaçamento entre os cartões */
    padding: 30px;
    flex-wrap: wrap; /* Permite que os cartões quebrem linha se necessário */
}/* Cartões dos componentes */
.card {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 50px;
    border: 4px solid #2AA846;
    box-shadow: 0px 0px 15px rgba(42, 168, 70, 0.6);
    border-bottom-width: 20px;
    width: 350px; /* Define um tamanho fixo para melhor alinhamento */

    transition: transform 0.3s;
}

.card h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}
.card p {
    font-size: 0.9em;
    color: #666;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 11px 0px 3px #2AA846;

}

/* Status LED */
.status-led {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    animation: led-pulse 1.5s infinite alternate;
}

.led-green {
    background-color: #28a745;
}

.led-red {
    background-color: #dc3545;
}

/* Animação de pulsação do LED */
@keyframes led-pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 10px rgba(241, 241, 241, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(40, 167, 69, 0.8);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
    }
}

/* Botão Ver Detalhes */
.view-details-button {
    font-weight: bold;
    background-color: #E0E0E0;
    color: #333;
    border: none;
    border-radius: 30px;
    padding: 4px 50px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details-button:hover {
    background-color: #cccccc;
}

.view-details-button:active {
    background-color: #00408a;
}

/* Descrição de erro para componentes degradados */
.error-description {
    color: #e53935;
    font-weight: bold;
    margin-top: 10px;
}

/* Tabela de histórico de incidentes */
.incident-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.incident-history-table th, .incident-history-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.incident-history-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.incident-history-table tr:hover {
    background-color: #f1f1f1;
}

/* LED de status na tabela */
.status-led {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.led-green {
    background-color: #28a745;
}

.led-red {
    background-color: #dc3545;
}

.status-button {
    position: relative;
    top: 90px;
}

/* Botão de histórico diferenciado */
.toggle-history-button {
    background: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-end; /* Alinha o botão mais para baixo */

}

.toggle-history-button:hover {
    background-color: #FFF;
    color: #28a745;
}

.toggle-history-button:active {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.1);
    transform: translateY(0);
}

.toggle-history-button i {
    font-size: 18px;
    transition: transform 0.3s ease;
}

/* Animação para o ícone quando o histórico está visível */
.toggle-history-button i.fa-chevron-up {
    transform: rotate(180deg);
}

.toggle-history-button i.fa-chevron-down {
    transform: rotate(0deg);
}

.toggle-history-button.pulse {
    animation: pulse 1.5s infinite;
}

/* Estilo para o título da seção */
.section-wrapper h2 {
    color: #10100f;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Cartão de incidente */
  .incident-card {
    background-color: #e0ffe0; /* Ajuste a cor de fundo */
    border-left: 6px solid #28a745;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

  /* Incidente hover */
  .incident-card:hover {
    background-color: #ffccbc;
  }

  /* Status dos incidentes */
  .incident-status {
    color: #ff5722;
    font-weight: bold;
  }

  /* Quando não há incidentes */
  .no-incidents {
    color: #4caf50;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

  /* Botão Ver Mais */
.view-more-button {
    background: none;
    border: none;
    color: #256599;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
  }

  .view-more-button:hover {
    color: #00408a;
  }

  /* Tooltip Estiloso */
  .tooltip {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    white-space: normal;
    font-size: 14px;
    line-height: 1.4;
  }

  .tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }

/* Ajustes para telas muito grandes (televisão) */
@media (min-width: 1600px) {
    .status-background {
        font-size: 48px;
        padding: 60px;
    }

    .card {
        padding: 30px;
        font-size: 1.5em;
    }

    .toggle-history-button {
        padding: 5px 80px;
        font-size: 20px;
    }
}

/* Ajustes para telas médias */
@media (max-width: 1200px) {
    .status-message {
        font-size: 32px;
    }

    .toggle-history-button {
        padding: 5px 60px;
        font-size: 14px;
    }
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
    .platform-status {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .status-message {
        font-size: 24px;
    }

    .components-list {
        display: flex;
        justify-content: flex-end; /* Alinha os cartões à direita */
        gap: 20px; /* Espaçamento entre os cartões */
        padding: 30px;
    }

    .toggle-history-button {
        margin-top: 10px;
    }

    /* Contêiner de abas */
.platform-tabs {
  display: flex;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo das abas */
.tab {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Google Cloud Tab */
.google-cloud-tab {
  background-color: #ffffff;
}

/* VTEX Tab */
.vtex-tab {
  background-color: #e6e6e6;
}

/* Estilo da aba ativa */
.tab.active {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Logo e texto das abas */
.tab img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.tab span {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

}





