<div class="app-container">
	<div class="status-container">
		<!-- Status principal da plataforma -->
		<div class="platform-status">
			<div class="status-background" [ngClass]="{'degraded': hasDegradedComponents()}">
				<div class="status-logo">
					<img src="../../gcp.png" alt="Logo" class="vtex-logo">
				</div>
				<div class="status-message">
					<p>{{ platformStatusDescription }}</p>
				</div>
				<div class="status-button">
					<button class="toggle-history-button" (click)="toggleIncidentHistory()">
						<i class="fas"
						   [ngClass]="{'fa-chevron-up': showIncidentHistory, 'fa-chevron-down': !showIncidentHistory}"></i>
						{{ showIncidentHistory ? 'Esconder Histórico' : 'Histórico' }}
					</button>
				</div>
			</div>
		</div>

  <div class="section-wrapper">
    <h2><i class="fas fa-cogs"></i> Componentes do Sistema</h2>
    <div class="components-list">
      <div *ngFor="let group of components" class="card" [ngClass]="{'degraded': getGroupStatus(group) !== 'Operational'}">
        <div class="card-header">
          <span class="status-led" [ngClass]="{'led-green': getGroupStatus(group) === 'Operational', 'led-red': getGroupStatus(group) !== 'Operational'}"></span>
          <h3>{{ group.groupName }}</h3>
          <p><i class="fas fa-circle-notch"></i> <span style="font-weight: bold; color: black;">Status:</span> {{ getGroupStatus(group) }}</p>
          <button class="view-details-button" (click)="openModal(group)">mais detalhes</button>
        </div>
      </div>
    </div>
</div>

		<div class="section-wrapper">
			<h2><i class="fas fa-exclamation-triangle"></i> Incidentes em Andamento</h2>
			<div *ngIf="ongoingIncidents.length > 0; else noIncidents">
				<div class="components-list">
					<div *ngFor="let incident of ongoingIncidents" class="incident-card">
						

						<div class="card-header">
							<p><i class="fas fa-clock"></i> 🕛{{ incident.lastUpdate | date: 'dd/MM/yyyy | HH:mm' }}</p>
							<h1>{{ incident.name }}</h1>
							
							<h3>🔴 Status: {{ incident.status }}</h3>
						</div>
						</div>
				
				</div>
			</div>
			<ng-template #noIncidents>
				<div class="no-incidents-container">
					<p class="no-incidents-time">🕛 {{ datenow | date: 'dd/MM/yyyy | HH:mm' }}</p>
					<p class="no-incidents"><i class="fas fa-check-circle"></i> Oba! Não tem nenhum incidente em andamento no momento...</p>
				</div>
			</ng-template>
			
			
		</div>

		<div class="section-wrapper">
			<table class="incident-history-table" *ngIf="showIncidentHistory">
				<thead>
					<tr>
						<th>Data</th>
						<th>Nome do Incidente</th>
						<th>Status</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let incident of incidentHistory">
						<td>{{ incident.date }}</td>
						<td>{{ incident.name }}</td>
						<td><span class="status-led"
								[ngClass]="{'led-green': incident.status === 'Resolved', 'led-red': incident.status !== 'Resolved'}"></span>{{
							incident.status }}</td>
						<td>{{ incident.description }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<app-modal *ngIf="isModalVisible" [components]="selectedComponents" [groupName]="selectedGroupName"
			(close)="closeModal()">
		</app-modal>
	</div>
