.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Menu lateral */
app-menu {
    width: 250px; /* Largura do menu quando não colapsado */
    transition: width 0.3s ease; /* Animação suave ao colapsar o menu */
    background-color: #f9f9f9; /* Cor de fundo do menu */
    z-index: 100; /* Garante que o menu fique acima do conteúdo principal */
    position: relative; /* Para que a logo não saia do menu */
}

.content {
    flex-grow: 1; /* O conteúdo ocupa o espaço restante */
    transition: margin-left 0.3s ease; /* Animação suave ao mover o conteúdo */
    padding: 20px; /* Espaçamento ao redor do conteúdo */
}

/* Classe aplicada quando o menu está colapsado */
.content.collapsed {
    margin-left: 80px; /* Ajusta a margem esquerda quando o menu está colapsado */
}

/* Menu colapsado */
app-menu.collapsed {
    width: 80px; /* Largura do menu colapsado */
}