.app-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #fffbfb;

}

body,
html {
	margin: 0;
	padding: 0;
}

.content {
	flex-grow: 1;
	padding: 20px;
	transition: margin-left 0.3s ease;
}

.content.collapsed {
	margin-left: 80px;
}

@media (max-width: 1200px) {
	.status-message p {
		font-size: 20px;
	}

	.toggle-history-button {
		padding: 5px 60px;
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.status-message p {
		font-size: 18px;
	}

	.platform-status {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.toggle-history-button {
		margin-top: 10px;
		padding: 5px 40px;
	}

	.components-list {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 480px) {
	.status-message p {
		font-size: 16px;
	}

	.status-logo .vtex-logo {
		width: 150px;
	}

	.components-list {
		grid-template-columns: 1fr;
		padding: 10px;
		gap: 15px;
	}
}
